@model IEnumerable<TesteEstapar.Models.ManobristaVeiculo>

@{
    ViewData["Title"] = "Manobras";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataManobra)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manobrista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Veiculo)
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataManobra)
                
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.Manobrista.Nome) - @Html.DisplayFor(modelItem => item.Manobrista.Cpf)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Veiculo.Placa) - @Html.DisplayFor(modelItem => item.Veiculo.Marca) -  @Html.DisplayFor(modelItem => item.Veiculo.Modelo)
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdManobra }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdManobra })
            </td>
        </tr>
}
    </tbody>
</table>
